.art-container{
    display: flex;
    border-radius: 5px;
    background-color: rgb(44, 32, 109);
    box-shadow: 10px 7px rgb(13, 14, 27);
    justify-content: center;
    max-height: 25vh;
    max-width: 25vw;
}

.art-container img{
    object-fit: contain;
    padding: 5px;
    margin: 5px;
    max-height: 25vh;
    max-width: 25vw;
}