body {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(13, 14, 27);
}

hr {
  margin: auto;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  background-color:rgb(44, 32, 109);
  color:rgb(44, 32, 109);
  box-shadow: 7px 4px rgb(70, 81, 165, 0.543);
  width: 75%;
  height: 8px;
}

button {
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: whitesmoke;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 3px;
  background-color:rgb(44, 32, 109);
  box-shadow: 7px 4px rgb(70, 81, 165, 0.543);
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.title {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(17, 22, 58);
  width: 45%;
  box-shadow: 10px 7px rgb(70, 81, 165, 0.543);
  border-radius: 3px;
}

.text-content {
  text-align: center;
  align-items: center;
}

.box-title {
  text-align: center;
  margin: auto;
  margin-top: 15px;
  width: 45%;
  background-color: rgba(70, 81, 165, 0.543);
  box-shadow: 10px 7px rgb(13, 14, 27);
  border-radius: 3px;
}

.box-title-about {
  margin: 20px;
  width: 25%;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  background-color: rgba(70, 81, 165, 0.543);
  box-shadow: 10px 7px rgb(13, 14, 27);
  border-radius: 5px;
}

.main-content {
  background-color: rgb(17, 22, 58);
  align-items: center;
  width: 100%;
}

.main-box {
  display: flex;
  margin: auto;
  border-radius: 5px;
  border: 3px solid rgb(44, 32, 109);
  box-shadow: 10px 7px rgb(70, 81, 165, 0.543);
  width: 70%;
  height: auto;
}

.box {
  display: flex;
  margin: 25px;
  padding: 10px;
  font-size: larger;
  border-radius: 3px;
  background-color: rgba(70, 81, 165, 0.543);
  border: 2px;
  box-shadow: 10px 7px rgb(13, 14, 27);
  width: 80%;
  height: auto;
}

.about-box {
  display: grid;
  margin: 25px;
  padding: 5px;
  font-size: larger;
  border-radius: 3px;
  background-color: rgba(70, 81, 165, 0.543);
  border: 2px;
  box-shadow: 10px 7px rgb(13, 14, 27);
}

.grid-2-columns {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 15px
}

.pfp img{
  border-radius: 13px;
  border: 2px solid rgb(50, 80, 252);
  width: 150px;
  height: 150px;
  box-shadow: 10px 7px rgb(13, 14, 27);
  image-rendering: pixelated;
  background-color: aliceblue;
}