body {
  background-color: black;
  color: whitesmoke;
  font-family: Verdana;
}

.title {
  text-align: center;
}

.main-content {
  background-color: rgb(26, 32, 78);
  width: 50vw;
  height: 50vh;
}

.box {
  border-radius: 5px;
  border: 2px solid blue;
  width: auto;
  height: auto;
}

.pfp img{
  border-radius: 13px;
  border: 2px solid blue;
  width: 150px;
  height: 150px;
}